<!-- header.html (mshop project) -->
<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <div class='navbar-brand' align=center>
                EbikePartSales
            </div>
        </div>
        {% load account %}
        <ul class='nav navbar-nav'>
            <li class='active'><a href='/'>Home</a></li>
            <li class='dropdown'>
                <a class="dropdown-toggle" data-toggle="dropdown" href='#'>
                Product<span class='caret'></span></a>
                <ul class="dropdown-menu">
                    {% for cate in all_categories %}
                    <li><a href='/{{cate.id}}'>{{cate.name}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% if user.is_authenticated  %}
            <li><a href="/cart/">View carts</a></li>
            <li><a href="/myorders/">View order</a></li>
            <li><a href="{% url 'account_reset_password' %}">reset password</a></li>
            <li><a href="{% url 'account_email' %}">change email</a></li>
            <li><a href="{% url 'account_logout' %}">logout</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}">login</a></li>
            <li><a href="{% url 'account_signup' %}">sign up</a></li>
            {% endif %}
            <li><a href='/admin'>admin</a></li>
        </ul>
    </div>
</nav>
